{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="mt-5 mb-4">О нас</h2>
            <p>Добро пожаловать в наш мебельный магазин! Мы рады приветствовать вас и хотим рассказать немного о себе.</p>
            <p>Наш магазин специализируется на предоставлении качественной и стильной мебели для вашего дома. Мы предлагаем широкий ассортимент мебели для гостиной, спальни, кухни и других помещений.</p>
            <p>Каждая деталь мебели в нашем ассортименте была тщательно отобрана нашими экспертами, чтобы удовлетворить ваши потребности в комфорте и стиле.</p>
            <p>Мы стремимся предоставить нашим клиентам лучший сервис и опыт покупок. Наша команда всегда готова помочь вам с выбором мебели и ответить на все ваши вопросы.</p>
            <p>Спасибо, что выбрали наш магазин! Мы надеемся, что вы останетесь довольны вашей покупкой.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4">
            <img src="{% static 'img/about_us/about-us-2.png' %}" class="img-fluid rounded" alt="Магазин мебели">
            <h4 class="mt-3 mb-2">Наш магазин</h4>
            <p>Мы располагаем большим ассортиментом мебели различных стилей и ценовых категорий.</p>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'img/about_us/about-us.jpg' %}" class="img-fluid rounded" alt="Наша команда">
            <h4 class="mt-3 mb-2">Наша команда</h4>
            <p>Наши опытные специалисты всегда готовы помочь вам с выбором мебели и ответить на все ваши вопросы.</p>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'img/about_us/about-us-3.png' %}" class="img-fluid rounded" alt="Наш сервис">
            <h4 class="mt-3 mb-2">Наш сервис</h4>
            <p>Мы стремимся обеспечить нашим клиентам лучший опыт покупок и предоставляем широкий спектр услуг.</p>
        </div>
    </div>
</div>
{% endblock content %}
